* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  line-height: 140%;
}

.button {
  border-radius: 1000px;
  border: none;
  padding: 4px 16px;
  background-color: white;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
}

.button:active {
  background-color: gainsboro;
}

.button:disabled {
  opacity: 50%;
}

input {
  width: 320px;
  border-radius: 1000px;
  border: none;
  height: 32px;
  padding: 16px;
}

label {
  cursor: pointer;
}

.input-error {
  color: red;
  padding: 8px 16px;
  border-radius: 1000px;
  font-weight: bold;
}

html::-webkit-scrollbar {
  width: 0;
}
